:root {
  --main-font: Montserrat;
  --primary-color: rgb(76, 20, 38);
  --secondary-color: rgb(250, 243, 224);
  --third-color: rgb(212, 175, 55);
}

body {
  min-height: 100vh;
  /* background-color: var(--third-color); */
  font-family: var(--main-font);
}

/* Header Styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--main-font);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
}

/* Hero Section Styling */

.hero {
  background-image:
    linear-gradient(rgba(76, 20, 38, 0.656)),
    url(img/36bf14e7bc716ea5d407eb6ca7b58993.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 100px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1.1;
  color: var(--secondary-color);
  margin-left: 30px;
  margin-bottom: 0px;
}

.hero p {
  font-size: 30px;
  /* line-height: 1.6; */
  max-width: 600px;
  color: var(--third-color);
  margin-left: 30px;
}

.hero span {
  color: var(--third-color);
}

.hero button {
  width: 200px;
  margin-left: 30px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: var(--third-color);
  font-family: var(--main-font);
  font-size: 19px;
  font-weight: 550;
  color: var(--primary-color);
}

.hero button:hover {
  transform: scale(104%);
}

.hero button:active {
  transform: scale(97%);
}

/* Menu Section Styling */

.menu {
  padding: 80px 50px;
  text-align: center;
}

.menu h2 {
  font-size: 40px;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.menu-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.food-card {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--third-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.food-card span {
  display: block;
  margin-bottom: 15px;
  /* margin-top: auto; */
  font-weight: bold;
  font-size: 20px;
  color: var(--primary-color);
}

.food-card h3 {
  font-size: 24px;
  margin: 20px 0 10px;
}

.food-card p {
  line-height: 1.6;
  margin-bottom: 15px;
  /* margin-top: auto; */
}

.food-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.food-card button {
  width: 120%;
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-size: 17px;
  font-weight: 550;
}

.card-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Query - Header to Menu Section */

@media (max-width: 768px) {
  .menu-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  nav {
    gap: 10px;
  }

  header {
    padding: 15px 20px;
  }

  .hero h1 {
    font-size: 70px;
  }
}

@media (max-width: 480px) {
  .menu-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  nav {
    gap: 5px;
  }
  /* 
  header {
    padding: 15px 20px;
  } */

  .hero {
    min-height: 70vh;
  }

  .hero h1 {
    font-size: 50px;
  }

  .hero p {
    font-size: 20px;
  }

  header h1 {
    font-size: 20px;
  }

  nav a {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .menu-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  nav {
    gap: 5px;
  }
  /* 
  header {
    padding: 15px 20px;
  } */

  .hero {
    min-height: 60vh;
  }

  .hero h1 {
    font-size: 30px;
    padding-left: 0;
  }

  .hero button {
    width: 55%;
  }

  .hero p {
    font-size: 15px;
  }

  header h1 {
    font-size: 15px;
  }

  nav a {
    font-size: 10px;
  }
}

/* Menu Hover and Active Styling */

.food-card:hover {
  transform: translateY(-8px);
}

.food-card:hover img {
  transform: scale(1.05);
}

.food-card button:hover {
  transform: scale(105%);
}

.food-card button:active {
  transform: scale(97%);
}

/* About Section */

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: row; */
  gap: 50px;
  padding: 80px 50px;
}

.about-image {
  flex: 1;
}

.about img {
  width: 450px;
  max-width: 100%;
  display: block;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.about-text {
  max-width: 550px;
  flex: 1;
}

.about-text p {
  flex: 1;
  max-width: 500px;
  font-size: 25px;
  margin-left: 50px;
}

.about-text h2 {
  font-size: 40px;
  line-height: 1.7;
  margin-bottom: 15px;
  margin: 0 auto;
  margin-left: 50px;
}

/* Media Query  - About Section */

@media (max-width: 768px) {
  .about-text h2 {
    font-size: 23px;
    margin-left: 10px;
  }

  .about-text p {
    font-size: 19px;
    margin-left: 10px;
  }

  .about img {
    width: 290px;
  }
}

@media (max-width: 480px) {
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 0;
  }

  .about-text h2 {
    font-size: 23px;
    margin-left: 10px;
  }

  .about-text p {
    font-size: 10px;
    margin-left: 10px;
  }

  .about img {
    width: 150px;
  }
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 10px;
}

footer h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* Media Query - Footer Section */

@media (max-width: 480px) {
  footer {
    padding: 0.4px;
  }

  footer p {
    font-size: 10px;
  }

  footer h3 {
    font-size: 25px;
    margin-bottom: 13px;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 0.5px;
  }

  footer h3 {
    font-size: 20px;
    margin-bottom: 9px;
  }
}
